<h1>Strona logowania</h1>

<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Login">
    <input type="password" name="password" placeholder="Hasło">
    <button type="submit">Zaloguj</button>
</form>