<h1>Zmień hasło</h1>

<form id="updatePassword">
  <div class="form-group">
    <label for="password">Nowe hasło</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#updatePassword').submit(function(e) {
        e.preventDefault();
        const password = $('#password').val();
        const id = 126;
        
            $.ajax({
                type: 'PUT',
                url: `/users/${id}`,
                data: {
                    password: password
                },
                success: (res) => {
                    console.log(res);
                }
                
            });
        })
    });
</script>