<h1>Strona do rejestracji</h1>

<form action="/users/register" method="post">
    <div> 
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <p>{{messages.err_username }}</p>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <p>{{messages.err_email }}</p>
    </div>
    <div>
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password">
        <p>{{messages.err_password }}</p>
    </div>
    <button type="submit">Zarejestruj</button>
</form>